* {
  font-family: helvetica;
}
#appMapCoffe {
  width: 96%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#appMapCoffe .appMapContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 6em 4em 1fr 40%;
  grid-gap: 1em;
  grid-template-rows: repeat(12, 8.3%);
  min-height: 100vh;
}
#appMapCoffe .appMapContainer .appMapTitle {
  align-items: center;
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 5 / span 4;
  font-size: 26px;
  font-weight: 700;
  justify-content: center;
}
#appMapCoffe .appMapContainer .appMapTitle h3 {
  border-bottom: 2px inset #CC3300;
  font-size: 36px;
  font-weight: 600;
}
#appMapCoffe .appMapContainer .appMapImage {
  grid-row: 3 / span 4;
  grid-column: 2 / span 10;
}
#appMapCoffe .appMapContainer .appMapDescriptionPlace {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  grid-row: 7 / span 1;
  grid-column: 2 / span 10;
}
#appMapCoffe .appMapContainer .appMapDescriptionPlace .nameLocationPlace {
  display: flex;
}
#appMapCoffe .appMapContainer .appMapDescriptionPlace .myLocationPlace {
  background-color: #CC3300;
  color: white;
  font-size: 22px;
  height: 55%;
  padding: 10px;
}
#appMapCoffe .appMapContainer .iconLocation {
  color: #3366FF;
}
#appMapCoffe .appMapContainer .appMapWeather {
  grid-row: 8 / span 1;
  grid-column: 2 / span 10;
}
#appMapCoffe .appMapContainer .appMapWeather .weather {
  grid-row: 4 / span 1;
  grid-column: 2 / span 6;
  margin-left: 5%;
}
#appMapCoffe .appMapContainer .appMapWeather .weather .weatherProps :nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#appMapCoffe .appMapContainer .appMapWeather .weather .titleProp {
  background-color: #CC3300;
  font-weight: 600;
  padding: 2%;
}
#appMapCoffe .appMapContainer .appMapWeather .weather .rowProp {
  text-align: center;
  font-weight: 600;
}
